<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div>
            <div>
                <p><span th:text="${username}"/>,</p>
                <p>La empresa <span th:text="${enterpriseName}"/> te ha enviado la siguiente oferta de trabajo:</p>
                <br>
                <h4><u>Posicion</u></h4>
                <p><i th:text="${jobPos}"/></p>
                <br>
                <h4><u>Descripcion</u></h4>
                <p><i th:text="${jobDesc}"/></p>
                <br>
                <p> En caso de estar interesado, puedes contactarte con <span th:text="${enterpriseEmail}"/></p>
                <br>
                <p>Comentarios adicionales:</p>
                <p><i th:text="${message}"/></p>
                <br>
                <p>Para mas informacion visita nuestra pagina en <span th:text="${baseUrl}"/></p>
            </div>
            <div style="margin: auto">
                <a th:href="${baseUrl}">
                    <img style="max-width: 400px;" src="https://i.ibb.co/fdLhpHQ/logoaa.png" alt="ClonedIn logo"/>
                </a>
            </div>
        </div>
    </body>
</html>