.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-header {
  background-color: #04704C;
  font-size: large;
  width: 100;
  margin-bottom: auto;
}

/*form styles*/
.msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.custom-card {
  background-color: #F2F2F2;
}

.form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  /*stacking fieldsets above each other*/
  position: relative;
}

.input {
  padding: 0 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: FontAwesome;
  color: #000000;
  font-size: 16px;
  letter-spacing: 1px;
}

.input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #459F78;
  outline-width: 0;
}

.action-button {
  width: 100px;
  background: #459F78;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: fit-content;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button:hover, .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #459F78;
}

.color-nav {
  background-color: #04704C; 
  font-size: large;
}

.nav-item {
  color: #F2F2F2
}

.sidebar {
  background-color: #459F78;
  height: 100vh;
}

.search {
  color:#F2F2F2;
  text-align: left;
}

.filterbtn {
  width:100%;
}

.dropdown {
  width: 100%;
}

